<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.pinnews">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <!-- For Phone Call -->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:appComponentFactory="whateverString"
        android:fullBackupContent="@xml/backup_descriptor"
        android:hardwareAccelerated="false"
        android:usesCleartextTraffic="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:appComponentFactory"
        tools:targetApi="p">
        <uses-library android:name="org.apache.http.legacy"
            android:required="false"
            />
        <activity android:name=".forget_password" />
        <activity android:name=".checked_Activity" />
        <activity android:name=".Filtering_Category" />
        <activity android:name=".home_Detailed" />
        <activity android:name=".SignIn" />
        <activity
            android:name=".BottomNavigation"
            android:label="@string/title_activity_bottom_navigation" />
        <activity android:name=".SignUp1" />
        <activity android:name=".Category" />
        <activity android:name=".SignUp2" />
        <activity
            android:name=".Index"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignUp" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebookAppId" />

        <receiver
            android:name=".MySMSBroadcastReceiver"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.google.android.gms.auth.api.phone.SMS_RETRIEVED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>